User-agent: *
Disallow: /?
Disallow: /wp/
Disallow: /search/
Disallow: /wp-
Disallow: *utm*=
Disallow: /cgi-bin
Disallow: /author/
Disallow: *&s=
Disallow: */trackback
Disallow: */wlwmanifest.xml
Disallow: */feed
Disallow: *openstat=
Disallow: */embed
Disallow: *?s=
Disallow: /xmlrpc.php
Disallow: /users/
Disallow: */rss
Allow: /wp-admin/admin-ajax.php
Allow: /*/*.js
Allow: /wp-*.gif
Allow: */uploads
Allow: /wp-*.png
Allow: /wp-*.jpeg
Allow: /wp-*.jpg
Allow: /*/*.css
Sitemap: http://{{ item.domain.name }}/sitemap.xml
